:root {
  --colour-white: #ffffff;
  --colour-black: #000000;
  --colour-lightBlack: #252525;
  --colour-body: #1A1A1A;
  --colour-lightBody: #333333;
  --colour-beige: #FFFEF2;
  --colour-darkBeige: #F6F5E8;
  --colour-beigeBorder: #CFCEC4;
}
