@use "../imports/media" as media;

@mixin button {
  &.fullwidthButton {
    font-family: var(--font-body);
    color: var(--colour-lightBody);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.16px;
    line-height: 1.2;
    width: 100vw;
    text-align: center;
    cursor: pointer;
    padding: 30px;
    border: none;
    background-color: var(--colour-darkBeige);
    text-decoration: none;
    transition: background-color 0.2s ease;
    min-height: 122px;

    @include media.minWidth(tablet) {

      @include media.minHeight(null, 800px) {
        min-height: 140px;
      }
    }

    @include media.minWidth(desktop) {

      @include media.minHeight(null, 800px) {
        min-height: 155px;
        padding: 50px;
      }
    }

    &:disabled {
      opacity: 0.7;
      cursor: default;

      &:hover {
        text-decoration-color: transparent;
        background-color: var(--colour-darkBeige);
      }
    }

    &:hover {
      text-decoration-color: inherit;
      background-color: darken(#F6F5E8, 4%);
    }

    &:focus-visible {
      outline: 2px solid inherit;
      outline-offset: -5px;
    }
  }
}
