@use "../imports/media" as media;

@mixin preamble {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--colour-body);
  font-family: var(--font-body);
  line-height: 1.5;
  margin: 0;

  @include media.minWidth(tablet) {
    font-size: 2rem;
  }

  @include media.minWidth(desktop) {
    @include media.minHeight(null, 800px) {
      font-size: 2.2rem;
    }
  }
}