@mixin focus($color: var(--colour-black)) {
  &:focus-visible {
    outline: $color 1px solid;
    outline-offset: 2px;
  }
}

@mixin centre($axis: "both") {
  position: absolute;

  @if $axis== "y" {
    top: 50%;
    transform: translateY(-50%);
  }

  @if $axis== "x" {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis== "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin imageCover($width: "", $height: "") {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin flex($value) {
  flex-basis: $value;
  max-width: $value;
  flex-shrink: 0;
  flex-grow: 0;
}
